@font-face {
    font-family: 'WhitneySemiBold';
    src: url('../font/WhitneySemiBold.ttf');
}

.main-pane {
    -fx-font-family: "WhitneySemiBold";
}

.mainTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.mainButton {
    -fx-font-size: 12px;
}

.secondTitle {
    -fx-font-size: 16px;
    -fx-text-decoration: underline;
    -fx-font-weight: bold;
}

.inputTitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.status {
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

.status-err {
    -fx-font-size: 11px;
    -fx-text-fill: red;
}

.status-success {
    -fx-font-size: 11px;
    -fx-text-fill: green;
}

/*
 * Rooms Style Sheets
 */
.room {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#room_1 {
    -fx-background-image: url("../images/room_1.jpg");
}

#room_2 {
    -fx-background-image: url("../images/room_2.jpg");
}

#room_3 {
    -fx-background-image: url("../images/room_3.jpg");
}

#room_4 {
    -fx-background-image: url("../images/room_4.jpg");
}

#room_5 {
    -fx-background-image: url("../images/room_5.jpg");
}

#room_6 {
    -fx-background-image: url("../images/room_6.jpg");
}

.padlock {
    -fx-background-image: url("../images/padlock.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.transparent-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.tracks-text {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}