@font-face {
    font-family: 'WhitneySemiBold';
    src: url('../font/WhitneySemiBold.ttf');
}

.main-pane {
    -fx-font-family: "WhitneySemiBold";
    -fx-background-color: #bfbfbf;
    -fx-background-size: cover;
}

.mainTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}

.mainButton {
    -fx-font-size: 12px;
}

.secondTitle {
    -fx-font-size: 16px;
    -fx-text-decoration: underline;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}

.inputTitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}

.status {
    -fx-font-size: 11px;
    -fx-text-fill: black;
    -fx-background-color: #fff;
}

.status-err {
    -fx-font-size: 11px;
    -fx-text-fill: red;
}

.status-success {
    -fx-font-size: 11px;
    -fx-text-fill: green;
}